.btn-check:checked + .btn-outline-primary {
  background-color: #0d6efd; 
  color: #fff;              
  border-color: #0d6efd;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-primary:hover {
  background-color: #69a5ff !important;
  border-color: #0066ff;
  color: #fff !important;
}


.btn-check:checked + .btn-outline-primary:hover {
  background-color: #0b5ed7;
  color: #fff;
  border-color: #0b5ed7;
}

.form-check {
  width: fit-content !important;
}

.form-container {
  background: white;
  border-radius: 15px;
  border: 1px solid #e9ecef;
}

.form-group {
  position: relative;
}

.form-group .form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #adb5bd;
}

.form-group .form-control {
  padding-left: 40px;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary {
  background: linear-gradient(to right, #0d6efd, #0dcaf0);
  border: none;
}
.form-error-alert {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.lottie-container {
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lottie-container {
    max-width: 250px;
  }
}